@import "~/.cache/hellwal/wofi.css";

window {
  background-color: @bg;
}

* {
  all: unset;
  color: @fg;
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
}

#outer-box {
  background-color: @bg;
  border: 2px solid @accent;
  margin: 4px;
}

#input {
  background-color: @bg_soft;
  margin: 8px;
  padding: 6px 8px;
}

#entry {
  padding: 6px 8px;
}

#entry:selected {
  background-color: @bg_soft;
  color: @accent;
}

